# Ignore dataset CSVs
datasets/*.csv

# Ignore environment variable file
.env

# Ignore Python bytecode and VSCode settings
__pycache__/
*.pyc
.vscode/

client/node_modules/
*.log
node_modules/
client/node_modules/.cache/